/* lato-regular - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* lato-700 - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* lato-900 - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.more-arrow-to-right {
    padding-left: 26px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* HEADER STYLE START */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s linear;
    padding: 30px;
}

.header__active {
    background-color: #0E1D28;
    opacity: 0.8;
    padding-bottom: 30px;
    padding-top: 15px;
    z-index: 5;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
    padding: 0 15px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__list-item {
    margin-right: 82px;
}

.header__list-item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}

.header__burger {
    width: 40px;
    height: 20px;
    position: relative;
    display: none;
}

.header__burger-line {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

.header__burger-line:first-child {
    top: 0;
}

.header__burger-line:nth-last-child(2n) {
    top: 50%;
    transform: translateY(-50%);
}

.header__burger-line:last-child {
    bottom: 0;
}


/* HEADER STYLE END */


/* INTRO STYLE START */

.intro {
    background: url(../img/intro.jpg);
    background-size: cover;
    color: #ffffff;
    padding-bottom: 350px;
}

.intro__title {
    padding-top: 263px;
    margin-bottom: 22px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    width: 619px;
}

.intro__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 546px;
    padding-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    background-color: transparent;
    background: url(../img/svg/oval.svg) no-repeat left 6px;
    background-size: 20px;
    padding-left: 43px;
    padding-bottom: 22px;
    width: 297px;
    margin-right: 60px;
    border: transparent;
    border-bottom: 3px solid #BFC0C5;
    color: white;
}

.search-form__field::placeholder {
    color: white;
}

.search-form__submit {
    background-color: #1B7DFF;
    padding: 15px 39px 15px 39px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    border: 0;
}

.search-form__submit:hover,
.search-form__submit:active,
.search-form__submit:focus {
    transform: scale(1.05);
    background-color: #1c57a5;
}


/* INTRO STYLE END */


/* BENEFITS STYLE START */

.benefits__wrapper {
    background-color: white;
    max-width: 1262px;
    margin: 0 auto;
    box-shadow: 0px 2px 20px 0px #15182429;
    position: relative;
    margin-bottom: 131px;
    padding: 0 15px;
}

.benefits__title {
    width: 100%;
    font-size: 35px;
    line-height: 42px;
    font-weight: 500;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0px 100px 110px;
}

.benefits__card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-icon {
    padding-bottom: 37px;
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 26px;
}

.benefits__card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 47px;
}

.benefits__card-more {
    color: #006DFE;
    text-decoration: none;
}

.benefits__card-more:hover,
.benefits__card-more:active,
.benefits__card-more:focus {
    opacity: 0.75;
}


/* BENEFITS STYLE END */


/* PLACES STYLE START */

.places__wrapper {
    max-width: 1262px;
    margin: 0 auto;
    margin-bottom: 131px;
    padding: 0 15px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.places__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
    margin: 15px;
}

.places__title::before {
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

.places__view-all {
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    color: #006DFE;
    padding-left: 10px;
    text-align: center;
}

.places__view-all:hover,
.places__view-all:active,
.places__view-all:focus {
    opacity: 0.75;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic {
    transform: scale(1.05);
}

.places__card-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places__card-pic {
    width: 100%;
    transition: .15s all;
}

.places__card_size_lg {
    height: 354px;
    grid-column: span 3;
    object-fit: cover;
}

.places__card_size_sm {
    height: 283px;
    grid-column: span 2;
    object-fit: cover;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}


/* PLACES STYLE END */


/* PREFECTURE STYLE START  */

.prefectures__wrapper {
    max-width: 1262px;
    margin: 0 auto;
    margin-bottom: 131px;
    padding: 0 15px;
}

.prefectures {
    margin-bottom: 139px;
}

.prefecture__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    width: 100%;
}

.prefectures-thumb {
    max-width: 100%;
}

.prefecture__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
}

.prefecture__disc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 66px;
}

.prefecture__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
}

.prefecture__card-card-2 {
    margin-top: 112px;
}


/* PREFECTURE STYLE END */


/* TOP STYLE START */

.top__wrapper {
    max-width: 1262px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 0 15px;
}

.top__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 65px;
}

.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 57px;
}

.top__card {
    grid-column: span 1;
    max-width: 390px;
    margin-bottom: 20px;
}

.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card-thumb {
    max-width: 100%;
}

.top__card-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 16px 25px;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 0 0;
}

.top__card-likes {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    background: url(../img/svg/heart.svg) no-repeat right;
    margin-right: 14px;
}

.top__card-comments {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-right: 23px;
    background: url(../img/svg/comment.svg) no-repeat right;
}

.top__card-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top__card-more {
    background-color: #006DFE;
    padding: 12px 20px;
    color: #ffffff;
    text-decoration: none;
}

.top__card-more:hover,
.top__card-more:focus,
.top__card-more:active {
    background: #0e66da;
}


/* TOP STYLE END */


/* VIDEO STYLE START */

.videos {
    width: 100%;
}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

.video__item {
    padding-top: 56.25%;
}

.video__value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*VIDEO STYLE END */


/*FOOTER STYLE START */

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu-link {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}


/*FOOTER STYLE END */


/*MEDIA STYLE START */

@media screen and (max-width: 970px) {
    .search-form__field {
        margin-bottom: 20px;
    }
    .wrapper {
        width: 100%;
    }
    .intro {
        padding-bottom: 200px;
    }
    .intro__title {
        width: 100%;
    }
    .intro__text {
        width: 100%;
    }
    .benefits__wrapper {
        box-shadow: none;
        margin-bottom: 50px;
    }
    .benefits__cards {
        padding: 0 15px;
        grid-column-gap: 10px;
    }
    .benefits__card {
        margin-bottom: 0;
    }
    .benefits__title {
        padding: 45px;
    }
    .places__card_size_lg {
        grid-column: span 6;
        height: 100%;
    }
    .places__card_size_sm {
        grid-column: span 6;
        height: 100%;
    }
    .prefecture__card {
        grid-column-gap: 40px;
    }
    .prefecture__card-card-2 {
        margin-top: 40px;
    }
    .top__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .footer {
        padding-bottom: 10px 40px;
    }
    .footer__logo {
        width: 40%;
        transform: scale(0.9);
    }
    .footer__nav {
        width: 60%;
    }
    .footer__item {
        justify-content: space-around;
    }
}

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0E1D28;
        z-index: 11;
        padding: 70px;
        transform: translateX(100%);
        transition: 0.1s ease-in-out;
    }
    .header__nav_active {
        transform: translateX(0);
    }
    .header__list-item {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .header__list-item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 44px;
        line-height: 48px;
    }
    .header__burger-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50px;
        right: 60px;
        z-index: 12;
    }
    .header__burger-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
    }
    .header__burger-close-line:first-child {
        transform: translateY(0) rotate(45deg);
    }
    .header__burger-close-line:last-child {
        transform: translateY(0) rotate(-45deg);
    }
    .search-form__field {
        margin-right: 0;
        width: 100%;
    }
    .top__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .top__card {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .top__wrapper {
        margin-bottom: 50px;
    }
    .benefits__title {
        padding: 15px;
    }
    .benefits__card {
        grid-column: span 3;
        width: 50%;
        margin: 0 auto;
    }
    .places__wrapper {
        margin-bottom: 35px;
    }
    .places__title {
        margin: 0px;
    }
}


/*MEDIA STYLE END */