/* lato-regular - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* lato-700 - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* lato-900 - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}


/* HEADER STYLE START */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__list-item {
    margin-right: 82px;
}

.header__list-item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}


/* HEADER STYLE END */


/* INTRO STYLE START */

.intro {
    min-height: 100vh;
    background: url(../img/intro.jpg);
    background-size: cover;
    color: #ffffff;
}

.intro__title {
    padding-top: 263px;
    margin-bottom: 22px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    width: 619px;
}

.intro__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 546px;
    padding-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    background-color: transparent;
    background: url(../img/svg/oval.svg) no-repeat left 6px;
    background-size: 20px;
    padding-left: 43px;
    padding-bottom: 22px;
    width: 297px;
    margin-right: 60px;
    border: transparent;
    border-bottom: 3px solid #BFC0C5;
    color: white;
}

.search-form__field::placeholder {
    color: white;
}

.search-form__submit {
    background-color: #1B7DFF;
    padding: 15px 39px 15px 39px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    border: 0;
}

.search-form__submit:hover,
.search-form__submit:active,
.search-form__submit:focus {
    transform: scale(1.05);
    background-color: #1c57a5;
}


/* INTRO STYLE END */